<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../stylesheet/header.css">
	<link rel="stylesheet" href="../stylesheet/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Blocky</title>
</head>
<body>
    <header>
		<div class="logo">
            <a href="https://uah.es/es/">
			<img src="../images/uah.svg"></a>
        </div>
		<nav>
			<a href="../index.html" class="nav-link">UAH Tournament 2025</a>
            <a href="equipos.html" class="nav-link">Equipos</a>
            <a href="jornadas.html" class="nav-link">Jornadas</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScyBwg7XMV-ihfGSAQv_3Shawr6qDWKqYmkJ4ESrEXEFvQNdQ/viewform?usp=dialog" class="nav-link">Inscríbete!</a>
		</nav>
	</header>
    <br>
</body>
</html>
