<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../stylesheet/header.css">
	<link rel="stylesheet" href="../../stylesheet/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Apuntes Blockky</title>
</head>
<body>
    <header>
		<div class="logo">
            <a href="https://uah.es/es/">
			<img src="../../images/uah.svg"></a>
        </div>
		<nav>
			<a href="../../index.html" class="nav-link">Apuntes Blockky</a>
            <a href="" class="nav-link">About me</a>
		</nav>
	</header>
    <article>
    <h3>Estructura y Organización de Computadores</h3>
    <br>
    <h2>Tema 1. Principios, implementación y Rendimientos.</h2>
    <iframe src="../../assents/eoc1.pdf" width="55%" height="450px" align="center">
        Este navegador no soporta PDFs. 
        <a href="../../assents/eoc1.pdf">Descargar el PDF</a>.
    </iframe>
    <br>    <br>
    <h2>Tema 2. Codificación.</h2>
    <br>
    <iframe src="../../assents/eoc2.pdf" width="55%" height="450px" align="center">
        Este navegador no soporta PDFs. 
        <a href="../../assents/eoc2.pdf">Descargar el PDF</a>.
    </iframe>
    </article>
</body>
</html>
